body {

    text-align: center;

    margin: 0;
    padding: 0;
    height: 100vh;

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
                url("vecteezy_close-up-view-of-a-house-roof-vent-showing-the-mesh-and-the_55126706.jpg")
                ;
    
    
    color: rgb(0, 174, 255);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}