<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css" />
    <title>Document</title>
</head>
<body>
    <header>
		  <a><strong>AL-FA CALHAS</strong>
		  <br> Sua solução para calhas e rufos

      <div>

        <a href="https://www.instagram.com/alfa.calhas"><insta><i class="fab fa-instagram" alt="botão para o instagram"></i></insta></a>

      </div>

    </header>

    <a href="/login"><login><i class="fa-solid fa-user" alt="botão para o login"></login></i></a>

    <a href="https://wa.me/5511992019889/?text=Gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20os%20or%C3%A7amentos%20da%20empresa">
      <whatsapp>
       <i class="fa-brands fa-square-whatsapp" alt="botão para o whatsapp"></i>
      </whatsapp>
    </a>
    
     
</body>
</html>